#suggestion-panel {
  position: relative;
}

#suggestions {
  position: absolute;
  top: 34px;
  left: 0px;
  z-index: 1000;
  min-width: 75px;
  padding: 5px 5px;
  margin: 2px 0 0;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  cursor: pointer;
}

.selected {
  font-weight: bold;
  border-right: 2px solid #0071BC;
}
